---
import { Image } from "astro:assets";
import auto3 from "../../assets/hero/pearl.jpeg";
import auto1 from "../../assets/hero/joc.jpeg";
import auto2 from "../../assets/hero/vg.jpeg";
import auto4 from "../../assets/hero/venus.jpeg";

import autoMob3 from "../../assets/hero-mobile/pearl-vert.jpeg";
import autoMob1 from "../../assets/hero-mobile/joc-vert.jpeg";
import autoMob2 from "../../assets/hero-mobile/vg-vert.jpeg";
import autoMob4 from "../../assets/hero-mobile/venus-vert.jpeg";

const sizeClass = " w-screen h-full ";
const imgContainerClass = `my-12  bg-dark  ${sizeClass} image-slider`;
const imgClass = `object-cover   min-w-full ${sizeClass} `;
---

<script>
  $(function () {
    // Smallest size of columns is 14rem
    var hideTitle = () => {
      const top = window.scrollY;
      const height = window.innerHeight;
      console.log(top > height);

      if (top > height) {
        $("#mainText").css("display", "none");
      } else {
        $("#mainText").css("display", "flex");
      }
    };
    $(window).on("scroll", function () {
      //.05 is a multiplier for the font size
      //14 is the default font size
      hideTitle();
    });
    hideTitle();
  });
</script>
<section id="home2" class="min-h-screen w-full overflow-hidden">
  <div
    class="fixed inset-0 flex items-center justify-center"
    id="homeContainer"
  >
    <div id="background-grid" class="z-[-1] flex">
      <div class={imgContainerClass + " hidden lg:block"}>
        <Image
          class={imgClass + " opacity-100"}
          src={auto1}
          alt={"auto1"}
          loading={"eager"}
        />
        <Image class={imgClass} src={auto3} alt={"auto3"} loading={"eager"} />
        <Image class={imgClass} src={auto4} alt={"auto"} loading={"eager"} />
        <Image class={imgClass} src={auto2} alt={"auto2"} loading={"eager"} />
      </div>
      <div class={imgContainerClass + " block lg:hidden"}>
        <Image
          class={imgClass}
          src={autoMob1}
          alt={"auto1"}
          loading={"eager"}
        />

        <Image
          class={imgClass}
          src={autoMob3}
          alt={"auto3"}
          loading={"eager"}
        />
        <Image
          class={imgClass}
          src={autoMob4}
          alt={"auto4"}
          loading={"eager"}
        />
        <Image
          class={imgClass}
          src={autoMob2}
          alt={"auto2"}
          loading={"eager"}
        />
      </div>
      <div
        id="mainText"
        class="absolute text-center top-0 flex flex-col items-center h-full w-full justify-center motion-preset-fade-lg motion-preset-blur-down motion-duration-2000"
      >
        <h6
          class="font-allenoire text-[3rem] lg:text-[10rem] font-light text-white"
        >
          Gaëtan Bros
        </h6>
        <h6
          class="font-allenoire text-[1.5rem] px-2 lg:px-0 lg:text-[3rem] text-white"
        >
          Les séances d’art et d’histoire en entreprise
        </h6>
      </div>
    </div>
  </div>
</section>
