---
import { Image } from "astro:assets";
//import all portraits from 1 to 16
import portrait1 from "../../assets/paintings/portraits/portrait1.jpg";
import portrait10 from "../../assets/paintings/portraits/portrait10.jpg";
import portrait11 from "../../assets/paintings/portraits/portrait11.jpg";
import portrait12 from "../../assets/paintings/portraits/portrait12.jpg";
import portrait13 from "../../assets/paintings/portraits/portrait13.jpg";
import portrait14 from "../../assets/paintings/portraits/portrait14.jpg";
import portrait15 from "../../assets/paintings/portraits/portrait15.jpg";
import portrait16 from "../../assets/paintings/portraits/portrait16.jpg";
import portrait17 from "../../assets/paintings/portraits/portrait17.jpg";
import portrait18 from "../../assets/paintings/portraits/portrait18.jpg";
import portrait2 from "../../assets/paintings/portraits/portrait2.jpg";
import portrait3 from "../../assets/paintings/portraits/portrait3.jpg";
import portrait4 from "../../assets/paintings/portraits/portrait4.jpg";
import portrait5 from "../../assets/paintings/portraits/portrait5.jpg";
import portrait6 from "../../assets/paintings/portraits/portrait6.jpg";
import portrait8 from "../../assets/paintings/portraits/portrait8.jpg";
import portrait9 from "../../assets/paintings/portraits/portrait9.jpg";

const paintings = [
  { index: 0, src: portrait1, alt: "portrait1", top: "30px" },
  { index: 1, src: portrait2, alt: "portrait2", top: "0px" },
  { index: 2, src: portrait3, alt: "portrait3", top: "-25px" },
  { index: 3, src: portrait6, alt: "portrait4", top: "0px" },
  { index: 4, src: portrait8, alt: "portrait5", top: "30px" },
  { index: 5, src: portrait4, alt: "portrait6", top: "0px" },
  { index: 6, src: portrait5, alt: "portrait8", top: "30px" },
  { index: 7, src: portrait9, alt: "portrait9", top: "0px" },
  { index: 8, src: portrait10, alt: "portrait10", top: "-25px" },
  { index: 9, src: portrait11, alt: "portrait11", top: "0px" },
  { index: 10, src: portrait12, alt: "portrait12", top: "30px" },
  { index: 11, src: portrait13, alt: "portrait13", top: "0px" },
  { index: 12, src: portrait14, alt: "portrait14", top: "-25px" },
  { index: 13, src: portrait15, alt: "portrait15", top: "0px" },
  { index: 14, src: portrait16, alt: "portrait16", top: "30px" },
  { index: 15, src: portrait17, alt: "portrait17", top: "0px" },
  { index: 16, src: portrait18, alt: "portrait18", top: "-25px" },
];

const animate =
  "flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-reverse-infinite-scroll";

const imgClass = "h-[8rem]  w-[6rem] shadow-xl rounded-lg";
---

<div
  class="lg:hidden items-center intersect-once intersect:motion-delay-500 intersect:motion-preset-slide-right intersect:motion-duration-2000"
>
  <div class="">
    <div class="pt-5 w-full inline-flex flex-nowrap overflow-hidden">
      <ul class={animate}>
        {
          paintings.map((sponsor) => {
            return (
              <li class=" transition duration-200 hover:grayscale-0 ">
                <Image
                  src={sponsor.src}
                  class={imgClass}
                  alt={sponsor.alt}
                  loading="eager"
                />
              </li>
            );
          })
        }
      </ul>
      <ul class={animate} aria-hidden="true">
        {
          paintings.map((sponsor) => {
            return (
              <li class=" transition duration-200 hover:grayscale-0">
                <Image
                  src={sponsor.src}
                  class={imgClass}
                  alt={sponsor.alt}
                  loading="eager"
                />
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
</div>
