---
import Card from "../../components/ui/Card.astro";
import priceData from "../../data/priceDats.json";
import SectionMotion from "../ui/SectionMotion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
import Sponsors from "./Sponsors.astro";

/* import p1 from "../../assets/paintings/paint3.jpg";
import p2 from "../../assets/paintings/paint6.jpg";
import p3 from "../../assets/paintings/paint8.jpg";

const cards = [
  {
    titleTop: "Comité d'entreprise",
    painting: p1,
    text: "Offrez à vos collaborateurs une expérience unique : des performances théâtralisées interactives, conçues sur-mesure pour renforcer la cohésion et enrichir la culture générale de vos équipes. Avec des thèmes adaptés à votre entreprise, chaque prestation devient un moment captivant d’échange, de créativité et d’inspiration. Artésémys, c’est l’alliance de l’art et du collectif pour créer des souvenirs durables et renforcer le lien entre vos collaborateurs.",
  },
  {
    titleTop: "Directeur des ressources humaines",
    painting: p2,
    text: "Et si l’art devenait un levier stratégique pour engager vos collaborateurs ? Avec des performances théâtralisées interactives, sur des thèmes artistiques adaptés à vos équipes, nous créons des expériences uniques pour stimuler la réflexion, la créativité et l’esprit collectif. Chaque prestation est conçue pour répondre à vos enjeux RH : renforcer la cohésion, développer la culture générale et favoriser des échanges enrichissants. Artésémys, c’est l’art au service de vos talents et de leur engagement.",
  },
  {
    titleTop: "Manager",
    painting: p3,
    text: "Et si l’art devenait un outil pour révéler votre plein potentiel en tant que leader ? Avec un accompagnement unique, nous utilisons des thématiques artistiques pour explorer vos forces, vos défis et développer des compétences essentielles comme la communication, la créativité et la gestion des équipes. À travers des échanges personnalisés et des approches théâtrales immersives, nous vous aidons à mieux vous connaître, à inspirer vos collaborateurs et à renforcer votre impact en tant que manager. Artésémys, c’est un coaching innovant qui allie réflexion personnelle et inspiration artistique.",
  },
]; */

const description =
  "Imaginez une activité qui allie culture, créativité et cohésion d’équipe. Je propose une expérience unique où l’art devient un outil puissant pour fédérer vos collaborateurs.";
---

<Section id="services" >
  <div
    class="pt-[2rem] lg:pt-[4rem] relative  justify-end bg-white gap-4  px-1 lg:px-10"
  >    <SectionTitle
      sectionTitle="Séances personnalisées"
      description={description}
    />
    <SectionMotion>  
  <div class="bg-white overflow-x-scroll lg:overflow-x-hidden flex pb-4 lg:grid lg:grid-cols-3 lg:grid-rows-1 gap-4 p-0 pt-4 lg:p-10 lg:pb-4 ">
                {
                priceData.map((item) => (
                  <div class={`relative w-[90%]  lg:w-auto flex-shrink-0 space-x-8 lg:space-x-0 lg:bottom-[${item.bottom}px]`} >
   <Card isUnderline={true}>
                <div class={`flex flex-col p-6 mx-auto  text-center h-full ${item.bgClass}`} style={{color: item.tickColor}}>
                    <h3 class="mb-4 text-xl lg:text-2xl font-semibold">{item.title}</h3>
                    <p class="text-sm font-light text-gray-500 sm:text-md pb-5">{item.description}</p>
                 
                    <!-- List -->
                    <ul role="list" class="text-sm lg:text-md pb-8 space-y-1 lg:space-y-4 text-left">
                        {item.link && (<li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500" fill={item.tickColor} viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>{item.link}</span>
                        </li>)}
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500" fill={item.tickColor} viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>{item.action}</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500" fill={item.tickColor} viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span><span class="font-semibold">{item.devCount}</span></span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500" fill={item.tickColor} viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span><span class="font-semibold">{item.support}</span></span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500" fill={item.tickColor} viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span><span class="font-semibold">{item.update}</span></span>
                        </li>
                    </ul>
                </div>
                </Card>
                  </div>
             
                )) 
                }

  </div>  
  <div class="flex w-full justify-center">
              <span class="italic text-base font-light text-center">Pour les tarifs, me contacter.</span>

  </div>
</SectionMotion>
<SectionMotion>

  <Sponsors />
</SectionMotion>

  </div>      

</Section>
