---
import { Image } from "astro:assets";
import HeroIlust from "../../assets/business/assemblee.jpeg";
import SectionMotion from "../ui/SectionMotion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "";
---

<Section id="team" withMin>
  <div
    class="pt-[2rem] lg:pt-[4rem] relative justify-end bg-white gap-4 lg:max-h-screen lg:px-10"
  >
    <SectionTitle sectionTitle="Qui suis-je ?" description={description} />
    <SectionMotion>
      <div
        class="mt-8 lg:mt-0 lg:pt-0 relative flex flex-col items-center md:flex-row"
      >
        <div
          class="flex items-center pb-10 md:w-7/12 md:pb-30 md:pt-6 lg:max-w-4xl"
        >
          <Image
            src={HeroIlust}
            alt="Hero Ilustration"
            loading="eager"
            class="lg:rounded-xl"
          />
        </div>
        <div class="row items-center pb-10 md:w-5/12 md:pb-30">
          <div class="text-left space-y-3 md:pl-12">
            <div class="flex flex-col md:flex-row items-center justify-between">
            </div>

            <p
              class="indent-[2rem] text-justify mt-6 mb-8 lg:text-lg font-light sm:mb-12 lg:text-justify px-2 lg:px-0"
            >
              Je suis convaincu que l’art est bien plus qu’un simple
              divertissement : c’est un levier puissant pour renforcer la
              cohésion des équipes. <br />Pionnier dans le domaine du coaching
              culturel depuis plus de dix ans , j’ai façonné une expertise
              nourrie par des études en histoire de l’art et d'histoire, ainsi
              que par des compétences théâtrales, que je mets au service des
              entreprises et de leurs équipes.<br /> Mon ambition est simple : faire
              de chaque rencontre une intervention nourrissant à la fois l’esprit
              et le collectif.
            </p>
          </div>
        </div>
      </div>
    </SectionMotion>
  </div>
</Section>
<!-- 

<Section id="about">
  <div class="mt-[140px]">
    <SectionTitle sectionTitle="Team" description={description} />
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 grid-rows-2 gap-10"
    >
      {
        team.map((member, index) => (
          <TeamCard
            key={index}
            pic={member.pic}
            name={member.name}
            role={member.role}
            description={member.description}
            link={member.link}
          />
        ))
      }
    </div>
    <div class="flex justify-end mt-10">
      <button class="btn-primary">See all team</button>
    </div>
  </div>
</Section>

 -->
