---
import { Image } from "astro:assets";
import HeroIlust from "../../assets/business/assemblee.jpeg";
import SectionMotion from "../ui/SectionMotion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "";
---

<Section id="team" withMin>
  <div
    class="pt-[2rem] lg:pt-[4rem] relative justify-end bg-white gap-4 lg:max-h-screen lg:px-10"
  >
    <SectionTitle sectionTitle="Qui suis-je ?" description={description} />
    <SectionMotion>
      <div
        class="mt-8 lg:mt-0 lg:pt-0 relative flex flex-col items-center md:flex-row"
      >
        <div
          class="flex items-center pb-10 md:w-7/12 md:pb-30 md:pt-10 lg:max-w-4xl"
        >
          <Image
            src={HeroIlust}
            alt="Hero Ilustration"
            loading="eager"
            class="lg:rounded-xl"
          />
        </div>
        <div class="row items-center pb-10 md:w-5/12 md:pb-30">
          <div class="text-left space-y-3 md:pl-12">
            <div class="flex flex-col md:flex-row items-center justify-between">
              <h1
                class="text-2xl font-medium leading-none md:text-4xl text-center md:text-left"
              >
              </h1><img
                src={"/projet-gb/gb-black.png"}
                alt="Hero Ilustration"
                loading="eager"
                class="pb-5 h-20"
              />
            </div>

            <p
              class="mt-6 mb-8 lg:text-lg font-light sm:mb-12 text-center lg:text-left px-2 lg:px-0"
            >
              Je suis <strong class="font-bold">convaincu</strong> que l’art est
              bien plus qu’un simple divertissement : c’est un <strong
                class="font-bold"
              >
                levier puissant</strong
              > pour <strong class="font-bold">
                renforcer la cohésion des équipes</strong
              >. Pionnier dans le domaine du coaching culturel <strong
                class="font-bold"
                >depuis plus de dix ans
              </strong>, j’ai façonné une expertise nourrie par <strong
                class="font-bold"
                te
                >des études en histoire de l’art, en histoire et des compétences
                théâtrales</strong
              >, que je mets au service des entreprises et de leurs équipes. Mon
              ambition est simple :<strong class="font-bold">
                faire de chaque rencontre une intervention nourrissant à la fois
                l’esprit et le collectif.</strong
              >
            </p>
          </div>
        </div>
      </div>
    </SectionMotion>
  </div>
</Section>
<!-- 

<Section id="about">
  <div class="mt-[140px]">
    <SectionTitle sectionTitle="Team" description={description} />
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 grid-rows-2 gap-10"
    >
      {
        team.map((member, index) => (
          <TeamCard
            key={index}
            pic={member.pic}
            name={member.name}
            role={member.role}
            description={member.description}
            link={member.link}
          />
        ))
      }
    </div>
    <div class="flex justify-end mt-10">
      <button class="btn-primary">See all team</button>
    </div>
  </div>
</Section>

 -->
