---
import { Image } from "astro:assets";
import HeroIlust from "../../assets/business/perf2.jpeg";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description =
  "Rencontrez notre équipe qui vous accompagnera dans la transformation de vos équipes.";
---

<Section id="team">
  <div class="mt-[80px]">
    <SectionTitle sectionTitle="Équipe" description={description} />

    <div
      class="mt-8 lg:mt-0 lg:pt-0 relative flex flex-col-reverse items-center md:flex-row section-hidden"
      id="hero"
    >
      <div class="row items-center pb-10 md:w-8/12 md:pb-30 md:pt-10">
        <div class="text-left space-y-3">
          <h1
            class="text-2xl font-medium leading-none md:text-4xl text-center md:text-left"
          >
            Rencontrez Gaëtan Bros, Fondateur et CEO
          </h1>
          <p
            class="mt-6 mb-8 lg:text-md font-normal sm:mb-12 text-center lg:text-left md:pr-12"
          >
            Gaëtan est convaincu que l’art est bien plus qu’un simple
            divertissement : c’est un levier puissant pour transformer nos modes
            de travail et renforcer la cohésion des équipes. <br />Avec un
            parcours mêlant performance artistique et conseil en entreprise, il
            a développé une approche unique qui allie créativité, interactivité
            et impact durable. Son ambition ? Aider les entreprises et leurs
            collaborateurs à se reconnecter à leur potentiel créatif, à partager
            de nouveaux savoirs et à vivre une expérience collective inédite. <br
            />
            Pionnier dans l’univers du coaching culturel et artistique, Gaëtan s’engage
            à accompagner chaque client avec empathie et expertise. Son but est simple
            : faire de chaque intervention une rencontre marquante entre l’art et
            le monde du travail, pour inspirer, fédérer et innover.
          </p>
        </div>
      </div>
      <div class="flex items-center pb-10 md:w-4/12 md:pb-30 md:pt-10 max-w-sm">
        <Image src={HeroIlust} alt="Hero Ilustration" loading="eager" />
      </div>
    </div>
  </div>
</Section>
<!-- 

<Section id="about">
  <div class="mt-[140px]">
    <SectionTitle sectionTitle="Team" description={description} />
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 grid-rows-2 gap-10"
    >
      {
        team.map((member, index) => (
          <TeamCard
            key={index}
            pic={member.pic}
            name={member.name}
            role={member.role}
            description={member.description}
            link={member.link}
          />
        ))
      }
    </div>
    <div class="flex justify-end mt-10">
      <button class="btn-primary">See all team</button>
    </div>
  </div>
</Section>

 -->
