---
import { Image } from "astro:assets";
import Section from "./Section.astro";
//increment the logo import to 6
import clients from "../../assets/clients.jpeg";

import Quotes from "../../assets/shapes/Quotes.svg";
import SectionMotion from "../ui/SectionMotion.astro";

const testimonials = [
  {
    company: "",
    description: `Il vous fera partager sa passion.
L’art, la peinture, la sculpture, toutes les formes d’expression, ils les arpentent et les
étudient depuis toujours
On pourrait presque dire qu’il pratique la religion de l’art, faite de curiosité,
d’émotions, de recherche, d’émerveillement, de découvertes, et du désir
d’appréhender tout ce qui contribue à la Beauté.
`,
    employee: "M. L.",
    position: "Directeur des opérations",
  },

  {
    company: "",
    description: `Il vous captivera et répondra à toute vos interrogations
Chaque conférence raconte un artiste, une période historique ou plusieurs œuvres
autour d’un thème
Il aborde les œuvres, leur époque, leur genèse, leur construction et comment les
regarder, comment en comprendre les secrets,
Il se demande comment fabriquer un chef d’œuvre à partir des techniques des
grands maitres, de l’acuité de leur vision, de leur travail, mais aussi des différentes
modes et des influences qui fondent les grandes écoles de création.
`,
    employee: "P. A.",
    position: "Responsable des ressources humaines",
  },
  {
    company: "",
    description: `Il vous fera voyager dans l’univers des oeuvres
Il s’agit d’explorer la richesse de l’imaginaire artistique, les sources d’inspiration
comme les grands mythes, les portraits, les batailles, les objets, les paysages …
l’utilisation et la transformation des formes et des couleurs. Il tentera d’élucider les
mystères de la représentation , tout ce qui fait la richesse des œuvres d’art, leur
complexité, leur vivacité.
Comment une œuvre nous parle ? nous rend joyeux ou triste parfois, ou même nous
dérange.
Les grandes réactions et les questions que les œuvres ont suscité à leur époque .
`,
    employee: "J. H.",
    position: "Directeur financier",
  },
  {
    company: "",
    description: `Il vous incitera à vous mettre à leur place, dans leur tête et leur cœur
Il vous raconte leur vie, leurs envies, leur idéal, leurs doutes, leurs manies, pour
certains leur terrible désespoir, mais aussi leur moment de grâce, leur enthousiasme,
leur révélation …
Comment ont t’ils percer ? leurs premières années, les rencontres déterminantes
pour leur réussite, les écoles dont ils ont fait partie, ce qu’ils ont apporté.
Leur entourage les a-t-il aidés ou non ? Comment ont-ils surmonté les critiques et les
périodes de vache maigre ? Comment ont-ils vécu leur célébrité ?
Les artistes sont des êtres complexes, attachants, passionnant, une fois qu’on
commence à les connaitre, on a envie d’en savoir plus, de les accompagner, D’être
proche d’eux.
`,
    employee: "S. B.",
    position: "Directrice de la communication",
  },
];
---

<Section id="testimonials" withMin>
  <div
    class="pt-[2rem] lg:pt-[4rem] relative grid grid-flow-col grid-rows-1 justify-center bg-white min-h-screen gap-4 lg:px-10"
  >
    <!--  <SectionTitle
      sectionTitle="Témoignages"
      description="Découvrez ce que nos clients satisfaits disent de nous : lisez nos témoignages pour en savoir plus sur nos services"
    /> -->
    <div
      class="min-w-screen min-h-screen bg-gray-50 flex flex-col items-center justify-center content-center lg:mb-20"
    >
      <div class="w-full bg-white px-5 text-gray-800">
        <div class="w-3/4 lg:w-full max-w-6xl mx-auto">
          <div
            class="text-center justify-center mx-auto intersect-once intersect:motion-delay-200 intersect:motion-preset-slide-right intersect:motion-duration-2000"
          >
            <h1 class="text-4xl lg:text-6xl font-bold text-gray-600 mb-5">
              Ce que mes clients <br class="lg:hidden" />disent de moi.
            </h1>

            <div class="text-center mb-10">
              <span class="inline-block w-1 h-1 rounded-full bg-green ml-1"
              ></span>
              <span class="inline-block w-3 h-1 rounded-full bg-green ml-1"
              ></span>
              <span class="inline-block w-40 h-1 rounded-full bg-green"></span>
              <span class="inline-block w-3 h-1 rounded-full bg-green ml-1"
              ></span>
              <span class="inline-block w-1 h-1 rounded-full bg-green ml-1"
              ></span>
            </div>
          </div>
          <SectionMotion>
            <div class="w-full h-50 pb-10 flex-col items-center mx-auto">
              <Image
                src={clients}
                alt=""
                class="lg:shadow-xl lg:rounded-xl"
                loading={"eager"}
              />
            </div>
            <div class="flex justify-center">
              <div
                class="w-5/6 lg:w-full flex overflow-x-scroll flex-row max-w-[500px] lg:max-w-none gap-4"
              >
                {
                  testimonials.map((testimonial) => (
                    <div class=" flex-shrink-0 w-full  lg:w-1/2 rounded-lg bg-white  lg:p-5 text-gray-800 font-light mb-6">
                      <div class="w-full flex flex-row items-center justify-around ">
                        <Image src={Quotes} alt="" class="size-6 lg:size-8" />
                        <p class="x-auto text-sm  lg:text-sm leading-none italic font-bold text-gray-400 w-3/4 pl-3">
                          {testimonial.description}
                        </p>{" "}
                        <Image
                          src={Quotes}
                          alt=""
                          class="size-6 lg:size-8 scale-x-[-1]"
                        />
                      </div>{" "}
                      <div class="flex flex-col lg:flex-row pt-1 justify-center w-full">
                        <div class="relative lg:w-1/3 flex justify-center items-center py-4" />
                        <div class=" lg:p-3 text-start lg:w-1/2 text-xs lg:text-sm">
                          <h6 class="text-dark ">{testimonial.employee}</h6>{" "}
                          <h6 class="font-bold  text-gray-600">
                            {testimonial.position}
                          </h6>
                        </div>
                      </div>
                    </div>
                  ))
                }
              </div>
            </div>
          </SectionMotion>
        </div>
      </div>
    </div>
  </div>
</Section>
