---
import { Image } from "astro:assets";
import Section from "./Section.astro";
//increment the logo import to 6
import clients from "../../assets/clients.jpeg";
import companyLogo1 from "../../assets/company/company-logo1.svg";
import companyLogo3 from "../../assets/company/company-logo11.svg";
import companyLogo5 from "../../assets/company/company-logo12.svg";
import companyLogo2 from "../../assets/company/company-logo2.svg";
import companyLogo4 from "../../assets/company/company-logo4.svg";
import companyLogo6 from "../../assets/company/company-logo6.svg";
import SectionMotion from "../ui/SectionMotion.astro";

const testimonials = [
  {
    company: "Suez",
    description:
      "L’intervention de Artésémys a bouleversé notre manière de travailler. Grâce à ses performances artistiques, nos équipes ont trouvé de nouvelles façons de collaborer et d’innover.",
    logo: companyLogo6,
    employee: "Marc Lefevre",
    position: "Directeur des opérations",
  },

  {
    company: "Total",
    description:
      "Nous cherchions une activité qui ait de l’impact, et Artésémys a dépassé nos attentes : au-delà du simple team building, c’est une expérience humaine et artistique mémorable.",
    logo: companyLogo2,
    employee: "Pierre Durand",
    position: "Responsable des ressources humaines",
  },
  {
    company: "Novartis",
    description:
      "J’ai été impressionné par la qualité et la pertinence du coaching individuel proposé. Les parallèles avec l’art m’ont permis d’aborder mes défis managériaux sous un angle complètement neuf.",
    logo: companyLogo1,
    employee: "Julien Charrier",
    position: "Directeur financier",
  },
  {
    company: "Groupama",
    description:
      "Qui aurait cru qu’une performance théâtralisée pourrait autant motiver mes développeurs ? Aujourd’hui, ils parlent encore des enseignements tirés de cette expérience.",
    logo: companyLogo3,
    employee: "Sophie Bernard",
    position: "Directrice de la communication",
  },
  {
    company: "IBM",
    description:
      "Grâce à Artésémys, nous avons découvert comment l’art peut renforcer l’esprit d’équipe et la fierté d’appartenance à l’entreprise. Un moment chaleureux et instructif.",
    logo: companyLogo4,
    employee: "Émilie Roux",
    position: "Responsable de la stratégie",
  },
  {
    company: "AXA",
    description:
      "La méthodologie en quatre étapes est limpide et efficace. Nous savions exactement à quoi nous attendre et le résultat final a été un véritable catalyseur de cohésion.",
    logo: companyLogo5,
    employee: "Claire Martin",
    position: "Chef de projet innovation",
  },
];
---

<Section id="testimonials" withMin>
  <div
    class="lg:pt-[4rem] relative grid grid-flow-col grid-rows-1 justify-center bg-white min-h-screen gap-4 px-10"
  >
    <!--  <SectionTitle
      sectionTitle="Témoignages"
      description="Découvrez ce que nos clients satisfaits disent de nous : lisez nos témoignages pour en savoir plus sur nos services"
    /> -->
    <div
      class="min-w-screen min-h-screen bg-gray-50 flex flex-col items-center justify-center content-center mb-20"
    >
      <div class="w-3/4 lg:w-full bg-white px-5 text-gray-800">
        <div class="w-3/4 lg:w-full max-w-6xl mx-auto">
          <div
            class="text-center mx-auto intersect-once intersect:motion-delay-200 intersect:motion-preset-slide-right intersect:motion-duration-2000"
          >
            <h1 class="text-4xl lg:text-6xl font-bold text-gray-600 mb-5">
              Ce que nos clients disent d'Artésémys.
            </h1>

            <div class="text-center mb-10">
              <span class="inline-block w-1 h-1 rounded-full bg-green ml-1"
              ></span>
              <span class="inline-block w-3 h-1 rounded-full bg-green ml-1"
              ></span>
              <span class="inline-block w-40 h-1 rounded-full bg-green"></span>
              <span class="inline-block w-3 h-1 rounded-full bg-green ml-1"
              ></span>
              <span class="inline-block w-1 h-1 rounded-full bg-green ml-1"
              ></span>
            </div>
          </div>
          <SectionMotion>
            <div class="lg:w-3/4 h-50 pb-10 flex-col items-center mx-auto">
              <Image src={clients} alt="" class="shadow-xl rounded-xl" />
            </div>
            <div class="flex overflow-x-scroll space-x-8">
              {
                testimonials.map((testimonial) => (
                  <div class="shadow-sm flex-shrink-0 w-3/4 lg:w-1/2 rounded-lg bg-white  lg:p-5 text-gray-800 font-light mb-6">
                    <div class="flex items-center mb-4">
                      <div class="relative w-1/3 flex  items-center">
                        <Image src={testimonial.logo} alt="" />
                      </div>
                    </div>
                    <div class="w-full">
                      <p class="leading-tight">
                        <span class="text-xs lg:text-lg leading-none italic lg:font-bold text-gray-400 mx-1">
                          " {testimonial.description} "
                        </span>
                      </p>
                    </div>{" "}
                    <div class="flex flex-row pt-1 justify-end w-full">
                      <div class=" lg:p-3 text-start w-1/2 text-xs lg:text-sm">
                        <h6 class="text-dark ">{testimonial.employee}</h6>{" "}
                        <h6 class="font-bold  text-gray-600">
                          {testimonial.position}, {testimonial.company}
                        </h6>
                      </div>
                    </div>
                  </div>
                ))
              }
            </div>
          </SectionMotion>
        </div>
      </div>
    </div>
  </div>
</Section>
