---
import { Image } from "astro:assets";
import Section from "./Section.astro";
//increment the logo import to 6
import clients from "../../assets/clients.jpeg";
import companyLogo1 from "../../assets/company/company-logo1.svg";
import companyLogo3 from "../../assets/company/company-logo11.svg";
import companyLogo5 from "../../assets/company/company-logo12.svg";
import companyLogo2 from "../../assets/company/company-logo2.svg";
import companyLogo4 from "../../assets/company/company-logo4.svg";
import companyLogo6 from "../../assets/company/company-logo6.svg";
import Quotes from "../../assets/shapes/Quotes.svg";
import SectionMotion from "../ui/SectionMotion.astro";

const testimonials = [
  {
    company: "Suez",
    description:
      "L'érudition et l'art oratoire de Gaëtan Bros à éclairé notre séminaire.",
    logo: companyLogo6,
    employee: "M. L.",
    position: "Directeur des opérations",
  },

  {
    company: "Total",
    description:
      "Nous cherchions une activité qui ait de l’impact, et Artésémys a dépassé nos attentes : au-delà du simple team building, ce fut expérience humaine mémorable.",
    logo: companyLogo2,
    employee: "P. A.",
    position: "Responsable des ressources humaines",
  },
  {
    company: "Novartis",
    description:
      "J’ai été impressionné par la qualité et la pertinence du coaching individuel proposé. Les parallèles avec l’art m’ont permis d’aborder mes défis managériaux sous un angle complètement neuf.",
    logo: companyLogo1,
    employee: "Julien Charrier",
    position: "Directeur financier",
  },
  {
    company: "Groupama",
    description:
      "Qui aurait cru qu’une performance théâtralisée pourrait autant motiver mes développeurs ? Aujourd’hui, ils parlent encore des enseignements tirés de cette expérience.",
    logo: companyLogo3,
    employee: "Sophie Bernard",
    position: "Directrice de la communication",
  },
  {
    company: "IBM",
    description:
      "Grâce à Artésémys, nous avons découvert comment l’art peut renforcer l’esprit d’équipe et la fierté d’appartenance à l’entreprise. Un moment chaleureux et instructif.",
    logo: companyLogo4,
    employee: "Émilie Roux",
    position: "Responsable de la stratégie",
  },
  {
    company: "AXA",
    description:
      "La méthodologie en quatre étapes est limpide et efficace. Nous savions exactement à quoi nous attendre et le résultat final a été un véritable catalyseur de cohésion.",
    logo: companyLogo5,
    employee: "Claire Martin",
    position: "Chef de projet innovation",
  },
];
---

<Section id="testimonials" withMin>
  <div
    class="pt-[2rem] lg:pt-[4rem] relative grid grid-flow-col grid-rows-1 justify-center bg-white min-h-screen gap-4 lg:px-10"
  >
    <!--  <SectionTitle
      sectionTitle="Témoignages"
      description="Découvrez ce que nos clients satisfaits disent de nous : lisez nos témoignages pour en savoir plus sur nos services"
    /> -->
    <div
      class="min-w-screen min-h-screen bg-gray-50 flex flex-col items-center justify-center content-center lg:mb-20"
    >
      <div class="w-full bg-white px-5 text-gray-800">
        <div class="w-3/4 lg:w-full max-w-6xl mx-auto">
          <div
            class="text-center justify-center mx-auto intersect-once intersect:motion-delay-200 intersect:motion-preset-slide-right intersect:motion-duration-2000"
          >
            <h1 class="text-4xl lg:text-6xl font-bold text-gray-600 mb-5">
              Ce que nos clients <br class="lg:hidden" />disent d'Artésémys.
            </h1>

            <div class="text-center mb-10">
              <span class="inline-block w-1 h-1 rounded-full bg-green ml-1"
              ></span>
              <span class="inline-block w-3 h-1 rounded-full bg-green ml-1"
              ></span>
              <span class="inline-block w-40 h-1 rounded-full bg-green"></span>
              <span class="inline-block w-3 h-1 rounded-full bg-green ml-1"
              ></span>
              <span class="inline-block w-1 h-1 rounded-full bg-green ml-1"
              ></span>
            </div>
          </div>
          <SectionMotion>
            <div class="w-full h-50 pb-10 flex-col items-center mx-auto">
              <Image
                src={clients}
                alt=""
                class="lg:shadow-xl lg:rounded-xl"
                loading={"eager"}
              />
            </div>
            <div class="flex justify-center">
              <div
                class="w-5/6 lg:w-full flex overflow-x-scroll flex-row max-w-[500px] lg:max-w-none gap-4"
              >
                {
                  testimonials.map((testimonial) => (
                    <div class=" flex-shrink-0 w-full  lg:w-1/2 rounded-lg bg-white  lg:p-5 text-gray-800 font-light mb-6">
                      <div class="w-full flex flex-row items-center justify-around ">
                        <Image src={Quotes} alt="" class="size-6 lg:size-8" />
                        <p class="x-auto text-sm  lg:text-lg leading-none italic font-bold text-gray-400 w-3/4 pl-3">
                          {testimonial.description}
                        </p>{" "}
                        <Image
                          src={Quotes}
                          alt=""
                          class="size-6 lg:size-8 scale-x-[-1]"
                        />
                      </div>{" "}
                      <div class="flex flex-col lg:flex-row pt-1 justify-center w-full">
                        <div class="relative lg:w-1/3 flex justify-center items-center py-4">
                          <Image
                            src={testimonial.logo}
                            alt=""
                            loading={"eager"}
                            class="max-w-[100px] lg:max-w-[150px]"
                          />
                        </div>
                        <div class=" lg:p-3 text-start lg:w-1/2 text-xs lg:text-sm">
                          <h6 class="text-dark ">{testimonial.employee}</h6>{" "}
                          <h6 class="font-bold  text-gray-600">
                            {testimonial.position}, {testimonial.company}
                          </h6>
                        </div>
                      </div>
                    </div>
                  ))
                }
              </div>
            </div>
          </SectionMotion>
        </div>
      </div>
    </div>
  </div>
</Section>
