---
import { Image } from "astro:assets";
import Card from "./Card.astro";

/* 
1. Gray card with green title and green on black icon 
2. Green card with gray title and green on black icon
3. Black card with gray title and gray on black icon
*/

const {
  index,
  titleTop,
  titleBottom,
  img,
  alt,
  link,
  painting,
  text,
  element,
} = Astro.props;
---

<Card isUnderline={true}>
  <div
    class=` relative h-full w-full sm:h-full lg:gap-[60px] grid custom-grid  bg-white bg-opacity-50 `
  >
    <Image
      src={painting}
      alt={titleTop}
      class="w-full h-full top-0 object-cover object-top"
    />
    <div
      class="text-white absolute h-1/2 z-10 bg-transparent top-1/2 p-2 bg-opacity-50 backdrop-blur-[10px]"
    >
      <span class=`w-[fit-content] text-3xl`>{titleTop}</span>
      <p class="text-sm text-base">{text}</p>
    </div>
  </div>
</Card>

<!-- <Card isUnderline={true}>
  <Image
    src={painting}
    alt={titleTop}
    class="w-full h-48 top-0 object-cover object-top"
  />
  <div class="p-4">
    <h2 class="text-2xl font-semibold text-gray-800">{titleTop}</h2>
    <p class="mt-2 text-gray-600">{text}</p>
  </div>
</Card> -->
<style>
  .custom-grid {
    grid-template: auto auto;
  }
</style>
